---
- name: Ensure each runlevel has a directory
  ansible.builtin.stat:
    path: "/etc/{{ item }}"
  register: rcdirs
  loop: "{{ redhat_enabled_runlevels }}"

- name: Backup existing runlevel directory if needed
  ansible.builtin.command: "mv /etc/{{ item }} /etc/{{ item }}.backup"
  loop: "{{ redhat_enabled_runlevels }}"
  loop_control:
    index_var: idx
  changed_when: false
  when: rcdirs.results[idx].stat.isdir | default(false)

- name: Ensure specific runlevel symlink exists
  ansible.builtin.file:
    src: /usr/lib/systemd/system
    dest: "/etc/{{ item }}"
    state: link
  loop: "{{ redhat_enabled_runlevels }}"

- name: Install arbiter
  ansible.builtin.package:
    name: "{{ percona_arbiter_packages }}"
    state: installed

- name: Place gardb config in /etc/sysconfig/garb
  ansible.builtin.template:
    src: templates/garb.j2
    dest: "{{ garb_config_file }}/garb"
    owner: root
    group: root
    mode: 0644

- name: Ensure arbiter is started and enabled on boot
  ansible.builtin.service:
    name: "{{ percona_arbiter_daemon }}"
    state: started
    enabled: true
  register: garb_start
  failed_when: false
  changed_when: garb_start is changed

- name: Wait until garb is active
  ansible.builtin.systemd:
    name: garb
  register: garb_status
  retries: 10
  delay: 3
  until: garb_status.status.ActiveState == "active"
  changed_when: false
  failed_when: garb_status.status.ActiveState != "active"
