---
- name: Start Bootstrapper
  when: bootstrapper
  block:

    - name: Start Bootstrapper node
      ansible.builtin.service:
        name: "{{ percona_mysql_daemon }}@bootstrap.service"
        state: started

    - name: Create SST user
      community.mysql.mysql_user:
        login_unix_socket: "{{ mysql_socket }}"
        login_host: ''
        user: "{{ percona_sst_user }}"
        password: "{{ percona_sst_password }}"
        priv: "*.*:grant,reload,lock tables,process,replication client"
      no_log: "{{ percona_no_log }}"
  

- name: Start Others
  when: not bootstrapper
  block:

    - name: Start other nodes
      ansible.builtin.service:
        name: "{{ percona_mysql_daemon }}"
        state: started

    - name: Pause 3 seconds to let hosts sync
      ansible.builtin.pause:
        seconds: 3


- name: Verify if wsrep is successfull
  ansible.builtin.shell: |
    set -o pipefail
    mysql -e "SHOW STATUS LIKE 'wsrep_local_state_comment';" | grep "wsrep_local_state_comment"
  args:
    executable: /bin/bash
  register: __percona_cluster_wsrep_check_one
  changed_when: false
  failed_when: __percona_cluster_wsrep_check_one.rc != 0

- name: Verify if cluster is synced
  ansible.builtin.fail:
    msg: "Bootstrapping has failed. Please check the logs, and fix"
  when: '"Synced" not in __percona_cluster_wsrep_check_one.stdout'
