---
- name: Stop Mysql service
  ansible.builtin.service:
    name: "{{ percona_mysql_daemon }}"
    state: stopped

- name: Deploy definitive WSREP config (all nodes)
  ansible.builtin.template:
    src: "30-wsrep.cnf.j2"
    dest: "{{ mysql_config_include_dir }}/30-wsrep.cnf"
    mode: "0644"

- name: Append extended configuration
  ansible.builtin.blockinfile:
    path: "{{ mysql_config_include_dir }}/20-mysqld-core.cnf"
    block: "{{ mysql_cluster_configuration }}"
    create: true
    marker: "# {mark} ANSIBLE MANAGED mysql_cluster_configuration"
    owner: root
    group: root
    mode: "0644"
  when: 
    - mysql_cluster_configuration is defined
    - (mysql_cluster_configuration | length) > 0
