---
- name: Variables configuration
  ansible.builtin.include_tasks: variables.yml

- name: IPs assertions
  ansible.builtin.include_tasks: ip.yml

- name: Setup/install tasks (RedHat)
  ansible.builtin.include_tasks: "setup-{{ ansible_os_family }}.yml"

- name: Configure password
  ansible.builtin.include_tasks: password.yml
  when: not arbiter

- name: Secure instances
  ansible.builtin.include_tasks: secure.yml
  when: not arbiter

- name: Configure instances
  ansible.builtin.include_tasks: configure.yml
  when: not arbiter

- name: Enable SSL artifacts
  ansible.builtin.include_tasks: ssl.yml
  when: percona_ssl_enabled

- name: Enable cluster
  ansible.builtin.include_tasks: cluster.yml
  when: not arbiter

- name: Enable arbiter
  ansible.builtin.include_tasks: arbiter.yml
  when: arbiter

- name: Create databases
  ansible.builtin.include_tasks: databases.yml
  when: 
    - percona_databases | length > 0
    - bootstrapper

- name: Create users
  ansible.builtin.include_tasks: users.yml
  when: 
    - percona_users | length > 0
    - bootstrapper
