---
- name: Secure instance
  block:

  - name: Delete anonymous connections
    community.mysql.mysql_user:
      name: ""
      host_all: true
      state: absent
      login_unix_socket: "{{ mysql_socket }}"
      check_implicit_admin: true

  - name: Secure root user
    community.mysql.mysql_user:
      name: root
      host: "{{ item }}"
      login_unix_socket: "{{ mysql_socket }}"
      check_implicit_admin: true
    loop:
      - ::1
      - 127.0.0.1
      - localhost

  - name: Ensure test database is removed if exists
    community.mysql.mysql_db:
      name: test
      login_user: root
      state: absent
      login_unix_socket: "{{ mysql_socket }}"
      check_implicit_admin: true

  when: bootstrapper