---
- name: Ensure mysql group is set
  ansible.builtin.group:
    name: mysql
    gid: 27
    system: true

- name: Ensure mysql user is set
  ansible.builtin.user:
    name: mysql
    uid: 27
    system: true
    group: mysql
    comment: 'MySQL Server'
    home: "{{ mysql_datadir }}"
    create_home: false
    shell: /sbin/nologin

- name: Ensure datadir exists with right perms
  ansible.builtin.file:
    path: "{{ mysql_datadir }}"
    state: directory
    owner: mysql
    group: mysql
    mode: "0750"

- name: Ensure required packages are installed
  ansible.builtin.package:
    name: "{{ percona_required_packages }}"
    state: installed

- name: Ensure RPM GPG key is imported
  ansible.builtin.rpm_key:
    key: "{{ percona_rpm_key_url }}"

- name: Ensure Percona repositories are installed
  ansible.builtin.command: |
    dnf -y install {{ percona_repo_baseurl }}/{{ percona_repo_release }}.noarch.rpm
  changed_when: false

- name: Ensure Percona pxc is enabled
  ansible.builtin.command: "percona-release setup pxc{{ percona_version }}"
  changed_when: false

- name: Configure and install Percona XtraDB
  block:

    - name: Ensure Percona XtraDB packages are installed
      ansible.builtin.package:
        name: "{{ percona_packages }}"
        state: installed

    - name: Ensure configuration include directory exists
      ansible.builtin.file:
        path: "{{ mysql_config_include_dir }}"
        state: directory
        mode: '0755'

    - name: Load Percona configuration directory
      ansible.builtin.lineinfile:
        name: "{{ mysql_config_file }}"
        line: "!includedir {{ mysql_config_include_dir }}"

    - name: Deploy base configs
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ mysql_config_include_dir }}/{{ item.dest }}"
        mode: '0644'
      loop:
        - { src: '10-client.cnf.j2',      dest: '10-client.cnf' }
        - { src: '20-mysqld-core.cnf.j2', dest: '20-mysqld-core.cnf' }

    - name: Ensure Mysql service is temporary started
      ansible.builtin.service:
        name: "{{ percona_mysql_daemon }}"
        state: started
        
  when: not arbiter
