percona_databases:
  - mynewbranddb

percona_users:
  - name: mynewbranddb_user
    password: "yie?XuiNaedu"
    privs: 'mynewbranddb.*:ALL,GRANT'
    state: present
    encrypted: false
    host: '%'

mysql_datadir: "/var/lib/clustered-mysql"
mysql_socket: "/var/lib/clustered-mysql/mysql.sock"

mysql_cluster_configuration: |-
  log_error_verbosity=2
  userstat=1
  slow_query_log=1
  long_query_time=10
  max_allowed_packet=512M
  max_heap_table_size=64M
  sort_buffer_size=3M
  tmp_table_size=64M
  read_buffer_size=2M
  read_rnd_buffer_size=64M
  join_buffer_size=8M
  table_definition_cache=4096
  table_open_cache=16384
  table_open_cache_instances=8
  character_set_server=UTF8
  collation_server=utf8_general_ci
  # Skip reverse DNS lookup of clients
  skip_name_resolve=0
  default_storage_engine=InnoDB
  # INNODB options #####
  innodb_strict_mode=on
  innodb_buffer_pool_size=4G
  innodb_buffer_pool_instances=8
  innodb_file_per_table=on
  innodb_flush_log_at_trx_commit=1
  innodb_log_buffer_size=8M
  innodb_log_file_size=100M
  innodb_autoinc_lock_mode=2